

.singleImgPokemon{
    margin: 0 auto;
    max-width: 300px;
}


.containerSinglePokemon{
    border-bottom: 2px solid #fff;
    border-radius: 0px 0px 40px 40px;
}

.typesImgContainer{
    width: 45%;
    margin: 0 auto;

}